version: "3.8"

services:
  backend:
    build: .
    image: flutter-ticket
    container_name: flutterticket
    ports:
      - "3001:3000"
    depends_on:
      - db
    environment:
      CONNECTION: mongodb://mongo:27017/nobars
    networks:
      - app-network

  db:
    image: mongo:3.6
    container_name: mongo
    restart: always
    ports:
      - 27017:27017
    networks:
      - app-network

networks:
  app-network:
    name: nat
